# Ignore node_modules
node_modules

# Ignore Next.js build output
.next

# Ignore static export output (if used)
out

# Ignore common build/distribution directories
build
dist

# Ignore package lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore .env files
.env
.env.*
!/.env.example 