# fly.toml app configuration file generated for chief-of-staff
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "chief-of-staff"
primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256 # You can adjust this based on your app's needs 